@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --Primary-color: #ff5400;
  --Text-color: #131318;
  --Gray-50: #5a5a5d;
  --Dark-02: #424247;
  --Font-description: 0.9rem;
}

/** Common Styles */

.title {
  color: var(--Text-color);
  font-size: 2.2rem;
  font-weight: 800;
}

.description {
  color: rgba(19, 19, 24, 0.7);
  font-size: var(--Font-description);
  font-weight: 400;
  line-height: 24px;
}

.btn {
  border-radius: 7px;
  background: #ff5400;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  border: 0;
}

/** Header Styles */

header {
  width: 82%;
  max-width: 1180px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: 100%;
}

.logo-container .logo-title {
  padding-left: 10px;
  font-size: 1.8rem;
  font-weight: 800;
}

.logo-container .title-1 {
  color: var(--Text-color);
}

.logo-container .title-2 {
  color: var(--Primary-color);
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  color: red;
}

ul li a {
  text-decoration: none;
  color: var(--Dark-02);
  font-size: 1rem;
  font-weight: 400;
}

ul li .first-child {
  color: var(--Primary-color);
  font-weight: 700;
}

.header-container {
  margin-top: 50px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  border-radius: 12px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800;
  padding-bottom: 22px;
}

.header-description {
  width: 600px;
  color: #fff;
  text-align: center;
  padding-bottom: 60px;
}

.dropdown-container {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 14px 16px;
}

.dropdown-container button {
  width: 150px;
  height: 48px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  font-size: 0.9rem;
  font-weight: 400;
}

.dropdown-container .btn-4 {
  background: var(--Primary-color);
  color: #fff;
}

.dropdown-container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
}

.dropdown-container button img {
  width: 20px;
}

.dropdown-container .btn-4 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/*** Popular Section */

.popular {
  padding-top: 100px;
  width: 82%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.popular-content {
  width: 50%;
}

.popular-title {
  padding-bottom: 24px;
}

.popular-description {
  padding-bottom: 22px;
}
.popular-list li {
  padding-bottom: 12px;
}

.popular-list {
  padding-bottom: 12px;
  width: 90%;
}
.popular ul {
  padding-left: 20px;
}
.popular-image {
  width: 50%;
}

.popular-image img {
  width: 100%;
  height: 100%;
}

.popular-btn {
  padding: 14px 32px;
  margin-top: 6px;
}

/*** Destination Section  */

.destination {
  width: 82%;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
}

.destination-content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.destination-title {
  padding-bottom: 15px;
}

.destination-description {
  margin-bottom: 40px;
  width: 55%;
}

.destination-img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 270px);
  gap: 15px;
}

.destination-img-container img {
  width: 100%;
  height: 100%;
}

.img-box1 {
  grid-column: 1/ 7;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/Rectangle\ 5.png");
  border-radius: 14px;
}
.img-box2 {
  grid-column: 7/ 13;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/Rectangle\ 8.png");
  border-radius: 14px;
}

.img-box3 {
  grid-column: 1/ 5;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/Rectangle\ 6.png");
  border-radius: 14px;
}

.img-box4 {
  grid-column: 5/ 10;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/Rectangle\ 7.png");
  border-radius: 14px;
}
.img-box5 {
  grid-column: 10/ 13;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/Rectangle\ 9.png");
  border-radius: 14px;
}
.img-box6 {
  grid-column: 1/ 6;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/Rectangle\ 11.png");
  border-radius: 14px;
}
.img-box7 {
  grid-column: 6/ 13;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/Rectangle\ 10.png");
  border-radius: 14px;
}

.img-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-text h4 {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
}

/*** Why Choose Us Section  */

.choose-us {
  width: 82%;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
}

.choose-us-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-us-title {
  padding-bottom: 20px;
}

.choose-us-description {
  padding-bottom: 40px;
  width: 55%;
}

.choose-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.choose-us-card {
  padding: 32px 30px;
  width: 48%;
  border-radius: 14px;
}

.bg-color1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.bg-color2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.bg-color3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.card-title {
  color: #131318;
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 16px;
}

.choose-us-card img {
  margin-bottom: 30px;
  width: 12%;
}

/*** Deals & Discount Section  */

.discount {
  width: 80%;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
}

.discount-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount-content .deals-title {
  padding-bottom: 22px;
}

.deals-description {
  padding-bottom: 40px;
  width: 55%;
  text-align: center;
}
.discount-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 420px;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  padding: 40px 40px;
  background-image: url("../Images/Group\ 39.png");
  margin-bottom: 20px;
}

.second{
    align-items: start;
    background-image: url("../Images/Group\ 40.png");
}

.discount-card {
  width: 55%;
  background-color: #ffffffcb;
  border-radius: 14px;
  padding: 30px;
  backdrop-filter: blur(2.5px);
}

.discount-card-top {
  display: flex;
  gap: 24px;
}

.top1, .top2, .top3, img{
    width: 20px;
}

.discount-card-top .top1,
.top2,
.top3 {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  padding-bottom: 24px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}

.discount-title {
  color: var(--Text-color);
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 14px;
}

.discount-description {
  padding-bottom: 16px;
  width: 80%;
}

.discount-price {
  color: var(--Primary-color);
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 20px;
}

.discount-btn {
  padding: 12px 24px;
  border-radius: 7px;
}

.discount-btn2{
    padding: 12px 18px;
}

.deals-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
